/* Removing Google User Agent Settings*/

body, p, h2, ul{
	margin:0px;
}

a{
	color: #ffffff;
	text-decoration: none;
}

button{
	border:0px;
}


/* FONTS */

/*@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Black.ttf")
}

@font-face {
  font-family: "Pacifico Font";
  src: url("../fonts/Pacifico Font/Pacifico.ttf")
}*/


/* ANNOUNCEMENT BAR */

.announcement-bar{
	width:100%;
	background-color:#000000;
	text-align:center;
}

.announcement-bar__message{
	color:#ffffff;
	font-family:Lato;
	font-size:17px;
	font-weight:300;
	padding:2px;
}

@media only screen and (min-width: 769px){
.announcement-bar__message{
	font-size:2vw;
	padding:16px;
	}
}


/* HEADER AND NAVBAR */

.site-header{
	background-color: #00504f;
	width:100%;
	text-align:center;
	}

.navbar-container{
	display:flex;
	width:100%;
	align-items:center;
}	

@media only screen and (min-width: 769px){
.navbar-container{
	display:inline;
	}

ul{
	padding-left:0px;
}

.header-logo{
	margin:0px;
}

}	

/* LOGO */

.site-header__logo-link{
	color: #ffffff;
	font-family:Pacifico;
	font-size:54px;
	display: inline-block;
	}

.header-logo{
	display:inline-block;
	margin:0 auto;
}

.header-logo-img{
	height:60px;
	vertical-align: middle;
	padding:8px;
	}

@media only screen and (min-width: 769px){
.header-logo{
	vertical-align: middle;
	padding:6px;
	}
}

/* NAVBAR */

nav{
	display: inline-block;
}

ul{
	padding-left:20px;
}

li{
	display:inline-block;
	vertical-align: middle;
	padding: 22px;
}

.grid_item-left{
	text-align:left;
	display:inline-block;
}

.fa-bars{
	color:white;
	vertical-align: middle;
	padding-left:22px;
}

.fa-shopping-cart{
	color:white;
	padding: 15px;
}

.site-nav__label{
	font-family:Lato;
	font-size:24px;
	font-weight:300;
	/*padding:5px;*/
}

/* Hide Navbar on Mobile*/
#navbar-menu{
	display:none;
}

@media only screen and (min-width: 769px){
	#navbar-menu{
		display: inline-block;
		}
}


/* HERO BANNER IMAGE AND TEXT */
.hero-banner-image{
	width:100%;
	display:block;
}

/* HIDE CONTENT ON MOBILE SCREENS*/
@media only screen and (max-width: 768px){
	.mobile-hide{
		display: none;
		}
}

/* HIDE CONTENT ON DESKTOP SCREENS */
@media only screen and (min-width: 769px){
	.desktop-hide{
		display: none;
		}
}

.hero-inner-text-left{
	/*width:100%;*/
	position: absolute;
	top:50%;
	-ms-transform:translate(0, 50%);
	-webkit-transform:translate(0, 50%);
	transform:translate(0, 50%);;
	margin:auto 95px;
	display:none;
}

.hero-title{
	font-family:Pacifico;
	color:#ffffff;
	font-size:58px;
}

.hero-tagline{
	font-family:Lato;
	color:#ffffff;
	font-size:47px;
	font-weight:300;
}

.hero-button{
	font-family:Lato;
	background-color:#000000;
	color:#ffffff;
	font-size:24px;
	font-weight:700;
	padding:14px;
	padding-left:32px;
	padding-right:32px;
}


/* COLLECTION LIST */

.collection-list-wrapper{
	/*width:100%;*/
/*	margin-top:40px;
	margin-left:40px;*/
	padding:10px;
	display:block;
}

.collection-list-box{
	width:30.33%;
	/*margin: 1.5%;*/
	margin-bottom:-12vw;
	float: left;
	display:grid;
	height:auto;
}

.col-sm-6{
	width:50%;
}

.col-sm-12{
	width:100%;
}

.inner-container{
	padding:10px;
}

.collection-list-image{
	width:100%;
}

.bottom-banner-text{
	position: relative;
	bottom:11vw;
	text-align:center;

	font-family:Pacifico;
	font-size:4.5vw;
	background-color: #00504f;
	color: white;
	padding:10px;
}

@media only screen and (min-width: 769px){
	.col-lg-4{
		width:33.33%;
	}

	.bottom-banner-text{
		bottom:7.5vw;
		font-size:3.6vw;
	}

}

/* FEATURED COLLECTION */

.featured-collection-wrapper{
	padding:10px;
	display:inline-block;
	margin-top:2%;
	position:relative;
}

.feature-title{
	text-align: center;
	font-family:Pacifico;
	font-size:28px;
	padding:2px;
}

.arrow-container{
	width:96%;
	/*padding:10px;*/
	display:inline-block;
	position:absolute;
	top:37%;
}

.arrow-left{
	float:left;
	display:inline-block;
/*	width:10%;*/

}

.arrow-right{
	float:right;
	display:inline-block;
/*	width:10%;*/
}

.arrow-image{
	height:24px;
}

.slider-wrap{
	padding:10px;
}

.featured-inner-container{
	padding:10px;
}

.col-sm-4{
	width:40%;
}

.featured-collection-image-wrap{
	/*width:18%;*/
	/*margin: 1.5%;*/
	/*padding:10px;*/
	float: left;
	/*border:1px solid blue;*/
}

.featured-collection-image{
	width: 100%;
	/*border:1px solid green;*/
}

.product-info{
	text-align:center;
	margin-top:30px;
}

.product-title{
	font-family:Lato;
	font-size:24px;
	color:#000000;
}

.product-item{
	font-family:Lato;
	font-size:18px;
	font-weight:300;
	color:#252525;
}

.price{
	font-family:Pacifico;
	font-size:24px;
	font-weight:300;
	color:#00504f;
}


@media only screen and (min-width: 769px){
	.col-lg-3{
		width:25%;
	}

	.featured-collection-wrapper{
		margin-top:7%;
	}

	.slider-wrap{
		width:80%;
		margin:auto;
	}

.arrow-container{
	width:90%;
	right:5%;
}


}


/*	HERO IMAGE 2 - IMAGE WITH TEXT OVERLAY	*/



/* INSTAGRAM FEED */

.instagram-wrapper{
	margin-top:30px;
	padding:10px;
}

.col-sm-3{
	width:33.33%;
	display:inline-block;
}

.inner-insta-container{
	padding:7px;
}

.image-container{
	/*padding:10px;*/
}

.insta-image{
	width:100%;
	/*padding: 10px;*/
}

/*	NEWSLETTER	*/

.newsletter-wrapper{
	background-color:#00504f;
}

.email-icon-wrapper{
	width:100%;
	padding-top:20px;
	padding-bottom:0px;
}

.email-icon-image{
	height:25px;
	display: block;
	margin:auto;	
}

.newsletter-title{
	color:white;
}

.newsletter-text{
	text-align:center;
	width:75%;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;

	font-family:Lato;
	font-size:14px;
	font-weight:300;
	color:white;
}

.email-container{
	width:90%;
	margin:auto;
	padding-top:20px;
	padding-bottom:40px;
}

.search-padder{
	display:inline-block;
	width:66%;
}

.email-input{
	height:42px;
	width:100%;

}

.subscribe{
	font-family:Pacifico;
	font-size:14px;
/*	padding:10px 30px;*/
	
	background-color:#00504f;
	border:2px solid white;
	color:white;
	float:right;
	width:30%;
	height: 47px;
}

.email-input::placeholder{
	color:#999999;
	font-family:Lato;
	font-size:12px;
	padding-left:20px;

}

/*FOOTER*/

.footer{
	max-width:100%;
}

.footer-container{
	
	padding:30px 60px;
	background-color:black;

}

.footer-title{
	color:white;
	text-align:left;
}

.minus-icon, .plus-icon{
	color:white;
	font-family:Pacifico;
	font-size:24px;
	float:right;
}

.footer-menu-item{
	color:white;
	font-family:Lato;
	font-size:24px;
	font-weight:300;
}


.social-icon{
	padding:10px;
	height:50px;
}







