/* Removing Google User Agent Settings*/

body, p, h2, ul{
	margin:0px;
}

a{
	color: #ffffff;
	text-decoration: none;
}

button{
	border:0px;
}


/* FONTS */

/*@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Black.ttf")
}

@font-face {
  font-family: "Pacifico Font";
  src: url("../fonts/Pacifico Font/Pacifico.ttf")
}*/


/* ANNOUNCEMENT BAR */

.announcement-bar{
	width:100%;
	background-color:#000000;
	text-align:center;
}

.announcement-bar__message{
	color:#ffffff;
	font-family:Lato;
	font-size:2vw;
	font-weight:300;
	padding:16px;

}


/* HEADER */
.site-header{
	background-color: #00504f;
	width:100%;
	text-align:center;
}

.site-header__logo-link{
	color: #ffffff;
	font-family:Pacifico;
	font-size:54px;
	display: inline-block;
}

.header-logo{
	vertical-align: middle;
	padding:8px;
}

nav{
	display: inline-block;
}

ul{
	padding-left:20px;
}

li{
	display:inline-block;
	vertical-align: middle;
	padding: 22px;
}

.site-nav__label{
	font-family:Lato;
	font-size:2vw;
	font-weight:300;
	/*padding:5px;*/
}


/* HERO BANNER IMAGE AND TEXT */
.hero-banner-image{
	width:100%;
}

.hero-inner-text-left{
	/*width:100%;*/
	position: absolute;
	top:50%;
	-ms-transform:translate(0, 50%);
	-webkit-transform:translate(0, 50%);
	transform:translate(0, 50%);;
	margin:auto 95px;
}

.hero-title{
	font-family:Pacifico;
	color:#ffffff;
	font-size:58px;
}

.hero-tagline{
	font-family:Lato;
	color:#ffffff;
	font-size:47px;
	font-weight:300;
}

.hero-button{
	font-family:Lato;
	background-color:#000000;
	color:#ffffff;
	font-size:24px;
	font-weight:700;
	padding:14px;
	padding-left:32px;
	padding-right:32px;
}


/* COLLECTION LIST */

.collection-list-wrapper{
	/*width:100%;*/
/*	margin-top:40px;
	margin-left:40px;*/
}

.collection-list-box{
	width:30.33%;
	margin: 1.5%;
	float: left;
}

.collection-list-image{
	width:100%;
}

.bottom-banner-text{
	position: relative;
	bottom:7vw;
	text-align:center;

	font-family:Pacifico;
	font-size:4vw;
	background-color: #00504f;
	color: white;

}



